/* -- UNIVERSAL STYLES */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* background-color: lightblue; */
  color: #4A4A4A;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  display: block;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  display: block;
}

h3 {
  font-size: 1.17rem;
  font-weight: 600;
  display: block;
}

/* a container with max-width of 960px */
.container {
  max-width: 960px;
  margin: 0 auto;
  /* background-color: lightseagreen */
}

@media only screen and (max-width: 540px) {
  .container {
    /* max-width: 100%; */
    width: 100%;
    margin: 0;
  }
}

/* make a container a flex container */
.flex {
  display: flex;
}

.flexcenter {
  display: flex;
  align-items: center;
}

.flexstart{
  display: flex;
  align-items: flex-start;
}

.flexwrap {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.justifycenter {
  justify-content: center;
}

.justifyspacebetween {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

/* class to make a text bold */
/* .bold {
  font-weight: 700;
} */

/* class used to make a black text a little bit more gray */
.light {
  color: #9B9B9B;
}

.backgroundwhite {
  background-color: #FFFFFF;
}

.backgroundlighter {
  background-color: #D8D8D8;
}

.backgroundlightest {
  background-color: #EAEBEC;
}

/* represents a section */
.sectioncontainer {
  max-width: 100%;
  /* background-color: #D8D8D8; */
}

.sectioncontainer.highpadding {
  padding: 2rem 1.5rem;
}

.sectioncontainer.leftpadding {
  padding-left: 1.5rem;
}

.sectioncontainer.lowpadding {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.itemrightpadding {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.itemrightpadding1 {
  padding: 2rem 0;
}

/* represents the left column within a section */
.sectionitemleft {
  overflow: hidden;
  margin: 2rem 1.5rem;
  /* padding-right: 1.5rem; */
  /* max-width: 60%; */
}

/* represents the right column within a section with maximum width of 40% */
.sectionitemright {
  /* margin-left: 1.5rem; */
  /* width: 40%; */
  /* just to make area visible during development */
  /* background-color: lightseagreen; */
}

.width65 {
  width: 65%;
}
.width60 {
  max-width: 60%;
}
.width40 {
  min-width: 40%;
}

.imagesmall {
  width: 35%;
  height: auto;
}

.desktop.imagesmall {
  display: block;
}

.mobile.imagesmall {
  display: none;
}

@media only screen and (max-width: 540px) {
  .desktop.imagesmall {
    display: none;
  }

  .mobile.imagesmall {
    display: block;
    width: 100%;
  }
}


.textcontainersmall{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;

}
.textcontainersmall h3 {

}

.textcontainersmall span {
  line-height: 1.2rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.textcontainersmall a {
  font-size: 0.75rem;
  text-decoration: none;
  margin-top: 0.5rem;
  color: #5595E1;
}

/* -- HEADER SECTION -- */
header {
  height: 4rem;
}

header img {
  height: 2rem;
  width: auto;
}

header a {
  text-decoration: none;
  color: #4A4A4A;
  /* color: black; */
}

header .desktopmenu li {
  margin-left: 1rem;
}

.containerlogo {
  padding-left: 1.5rem;
}

.containernavigation {
  padding-right: 1.5rem;
}

.mobilemenu {
  display: none;
}

@media only screen and (max-width: 540px) {
  .containerlogo {
    display: none;
  }

  .containernavigation {
    padding-left: 1.5rem;
    width: 100%;
  }

  .desktopmenu {
    display: none;
  }

  .mobilemenu {
    display: flex;
    width: 100%;
  }
}


/* -- BANNER SECTION -- */
.bannercontainer {
  display: flex;
  flex-direction: row;
}

.textcontainerbanner {
  padding-right: 4.5rem;
}

.textcontainerbanner h1 {
  line-height: 2.5rem;
}

.textcontainerbanner h3 {
  margin-top: 2rem;
  line-height: 1.5rem;
}

.textcontainerbanner a {
  margin-top: 1.5rem;
  color: white;
  text-decoration: none;
  background-color: #4A4A4A;
  padding: 0.5rem 0;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 540px) {
  .bannercontainer {
    flex-direction: column;
  }
  .bannercontainer .sectionitemleft {
    margin: 0 0;
  }

  .bannercontainer .width60 {
    max-width: 100%;
  }
  .bannercontainer .width40 {
    min-width: 100%;
  }

  .textcontainerbanner {
    padding: 2rem 1rem;
  }

  .textcontainerbanner a {
    background-color: #9B9B9B;
  }

}

.coursescontainer {
  padding: 2rem 1.5rem;
}


.sectionitemleft img {
  width: 100%;
  height: auto;
  display: block;
}

.button {
  color: white;
  text-decoration: none;
  background-color: #4A4A4A;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

/* -- INFO SECTION -- */
.infocontainer {

}

.textcontainerinfo {

}
.textcontainerinfo h2 {
  margin-top: 2rem;
}

.textcontainerinfo span {
  display: block;
  margin-top: 1.5rem;
  line-height: 1.2rem;
  font-size: 0.89rem;
}

.textcontainerinfo .smallfont {
  font-size: 0.75rem;
}

.infocontainer .sectionitemright {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.infocontainer .sectionitemright .sectioncontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 540px) {
  .infocontainer .sectionitemleft {
    display: none;
  }

  .infocontainer .sectionitemright {
    padding 0 0;
  }

  .infocontainer .width40 {
    width: 100%;
  }

  .infocontainer .width65 {
    width: auto;
  }

  .infocontainer .sectionitemright .sectioncontainer {
    align-items: flex-start;
    flex-direction: column;
  }

  .infocontainer .lowpadding {
    padding: 1rem 1rem 4rem 1rem;
  }

  .infocontainer .textcontainersmall {
    padding: 1rem 1rem;
  }
}


/* -- COURSES SECTION -- */
.specialmarginpadding {
  margin: 1rem 0;
  padding: 0 2rem;
}

.sectionitem {
  width: 29%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.sectionitem img {
  width: 100%;
  height: auto;
  display: block;
}


/* -- THESIS SECTION -- */
.containerthesispadding {
  padding: 2rem 0;
}

.thesiscontainer {
  padding: 2rem 0;
}

@media only screen and (max-width: 540px) {
  .thesiscontainer .sectionitemright{
    display: none;
  }

}

.textcontainerthesis h3 {
  margin-top: 1.5rem;
}

.textcontainerthesis span {
  display: block;
  margin-top: 0.5rem;
  line-height: 1.2rem;
  font-size: 0.89rem;
}

/* -- FOOTER SECTION -- */
footer {
  height: 4rem;
  border-top: 1px solid #E0E2E2;
}

footer span {
  font-size: 0.75rem;
}
@media only screen and (max-width: 540px) {
  footer span {
    padding: 1rem 0;
  }
}

footer li {
  margin-left: 0.7rem;
}

footer a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 0.75rem;
}

footer .sectioncontainer {
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 540px) {
  footer .sectioncontainer {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  footer .desktop {
    display: none;
  }
}
